# Byte-compiled / optimized / DLL files
__pycache__/

# virtualenv
venv/

# vscode ignore should be in .git/info/exclude

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# other stuff
other/
fonts/
qt/